.container {
  background-image: linear-gradient(
    to right,
    rgb(168, 164, 244),
    rgba(133, 78, 242, 1) 60%
  );
  position: relative;
  color: white;
  overflow: hidden;

  @media only screen and (min-width: 870px) {
    background-image: linear-gradient(
      to right,
      rgba(215, 213, 248, 1),
      rgba(133, 78, 242, 1) 60%
    );
  }
}

.heading {
  font-size: 42px;
  margin-bottom: 24px;
}

.profile-image {
  position: absolute;
  bottom: 0;
  display: none;

  @media only screen and (min-width: 870px) {
    display: block;
  }
}

// .image-placeholder {
//   width: 800px;
//   height: 485px;
// }

.content {
  text-align: center;

  @media only screen and (min-width: 870px) {
    max-width: 500px;
  }

  @media only screen and (min-width: 940px) {
    max-width: 580px;
  }

  @media only screen and (min-width: 1060px) {
    max-width: 600px;
  }

  @media only screen and (min-width: 1060px) {
    max-width: 700px;
    padding-right: 22px;
  }

  @media only screen and (min-width: 1170px) {
    max-width: 800px;
  }
}

.body {
  font-size: 22px;
  margin-bottom: 24px;

  strong {
    font-weight: 500;
  }
}

.circle {
  position: absolute;
}

.circle-one {
  right: 50%;
  transform: translateX(-50%);
  top: -90px;
}

.circle-two {
  right: -75px;
  top: -65px;
}

.circle-three {
  right: 100px;
  bottom: -75px;
}

.cards {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;

  @media only screen and (min-width: 710px) {
    flex-direction: row;
  }

  p {
    font-size: 22px;
    line-height: 38px;
  }

  strong {
    margin-bottom: 24px;
    display: block;
  }
}

.triangle {
  height: 100%;
  position: absolute;
  right: -6px;
  top: 0px;
  display: none;

  @media only screen and (min-width: 1170px) {
    display: block;
  }
}

.card-left {
  position: relative;
  background-color: white;
  padding: 24px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex-grow: 1;
  flex-basis: 0;

  p {
    max-width: 400px;
  }
}

.card-right {
  background-color: #cfd2ff;
  padding: 24px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-grow: 1;
  flex-basis: 0;
}
